<div class="container mt-4">
  <div class="row">
    <div class="col-12 col-md-12 col-lg-4">
        <img src="assets/wmaa.png" alt="">

    </div>
    <div class="col-12 col-md-12 col-lg-4 mb-5">
      <img src="assets/eway.png" alt="">

    </div>
    <div class="col-12 col-md-12 col-lg-4 mb-5">
        <div class="social-icons">
            <ul>
              <li><a href="https://www.facebook.com/agustin.curiel.37" target="_blank"><i class="fa fa-facebook"></i></a></li>
              <li><a href="https://twitter.com/agusDev4" target="_blank"><i class="fa fa-twitter"></i></a></li>
              <li><a href="https://www.linkedin.com/in/agustin-curiel-17616a16a/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
    </div>
  </div>
</div>