<div class="container mt-4">
  <div class="row">
    <div class="col-12 col-md-12 col-lg-4">
      <h4>AUSTRALIA FIRST CHOICE IN SKIP HIRE</h4>

    </div>
    <div class="col-12 col-md-12 col-lg-4">
      <p>It is important to correctly specify your intended waste type because placement of other waste types may result in additional disposal charges after the skip is collected. The table below provides some guidelines. If you have any doubt as to which waste type your waste belongs, please feel free to contact us and our experienced staff will be happy to assist you.</p>

    </div>

    <div class="col-12 col-md-12 col-lg-4">
      <p>When selecting a waste type (eg general waste) you must ensure that no other types of waste are placed in the skip. If this occurs, you will be liable to pay for the disposal cost of disposal as general waste. Please refer to the Terms and Conditions for additional information.</p>

    </div>
  </div>
</div>
