<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"><img src="assets/logo.jpg" alt=""></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      
    </ul>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="#">Who are<span class="sr-only">(current)</span></a>
        <p class="p-2">We can do</p>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Area Serviced</a>
        <p class="p-2">Find a skip in your area</p>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Skip Sizes</a>
        <p class="p-2">A complete guides</p>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Waste Types</a>
        <p class="p-2">Select the right one</p>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">FAQS</a>
        <p class="p-2">Find answers</p>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact Us</a>
        <p class="p-2">Have any questions?</p>
      </li>
    </ul>
    
  </div>
</nav>
