<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-md-12 col-lg-12">
      <ul>
        <li><a href="#areas">Areas Covered</a></li>
        <li><a href="#samed">Same Day Services</a></li>
        <li><a href="#samt">Same Day Turnaround</a></li>
        <li><a href="#sizea">Size Estimator</a></li>
        <li><a href="#placement">Placement Guides</a></li>
        <li><a href="#council">Council Permits</a></li>
        <li><a href="#mobile">Mobile Skips</a></li>
      </ul>
    </div>
  </div>
</div>
